<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card">
                <div class="card-body">
                    <form action="/colaboradores/adicionar-colaboradores" method="POST">
                        <div class="form-group">
                            <input type="text" name="recusaram" class="form-control" placeholder="pontos que recusaram" autofocus>
                        </div>
                        <div class="form-group">
                            <input type="text" name="problemas" class="form-control" placeholder="pontos que deram problemas">
                        </div>
                        <div class="form-group">
                            <input type="text" name="bons" class="form-control" placeholder="pontos ótimos">
                        </div>
                        <div class="form-group">
                            <input type="text" name="neutros" class="form-control" placeholder="pontos neutros">
                        </div>
                        <div class="form-group">
                            <button id="btnSalvaAddColab" class="btn btn-success btn-block">
                                Salvar
                            </button>
                        </div>
                    </div>
            </div>
        </div>

    </div>
</div>