<script>
  function maxLengthCheck(object) {
    if (object.value.length > object.max.length)
      object.value = object.value.slice(0, object.max.length)
  } 
  function isNumeric (evt) {
    var theEvent = evt || window.event;
    var key = theEvent.keyCode || theEvent.which;
    key = String.fromCharCode (key);
    var regex = /[0-9]|\./;
    if ( !regex.test(key) ) {
      theEvent.returnValue = false;
      if(theEvent.preventDefault) theEvent.preventDefault();
    }
  }
</script>

<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card">
                <div class="card-body">
                    <form action="/eventos/adicionar-evento" method="POST">
                        <div class="form-group">
                            <input oninvalid="this.setCustomValidity('campo obrigatório')" oninput="this.setCustomValidity('')" name="dia" onkeypress="return isNumeric(event)" oninput="maxLengthCheck(this)" type = "number" placeholder=" dia" min = "1" max = "31" autofocus required/>
                            <input oninvalid="this.setCustomValidity('campo obrigatório')" oninput="this.setCustomValidity('')" name="mes" onkeypress="return isNumeric(event)" oninput="maxLengthCheck(this)" type = "number" placeholder=" mês" min = "1" max = "12" required/>
                            <input oninvalid="this.setCustomValidity('campo obrigatório')" oninput="this.setCustomValidity('')" name="ano" onkeypress="return isNumeric(event)" oninput="maxLengthCheck(this)" type = "number" placeholder=" ano" min = "1" max = "9999" required/>
                        </div>
                        <div class="form-group">
                            <input oninvalid="this.setCustomValidity('campo obrigatório')" oninput="this.setCustomValidity('')" type="text" name="evento" class="form-control" placeholder="evento"  required/>
                        </div>
                        <div class="form-group">
                            <input type="text" name="responsavel" class="form-control" placeholder="voluntário responsável"/>
                        </div>
                        <div class="form-group">
                            <input type="number" name="agenda" class="form-control" placeholder="agendas para levar"/>
                        </div>
                        <div class="form-group">
                            <input type="number" name="calendario" class="form-control" placeholder="calendários para levar"/>
                        </div>
                        <div class="form-group">
                            <input type="number" name="a_vendida" class="form-control" placeholder="agendas vendidas"/>
                        </div>
                        <div class="form-group">
                            <input type="number" name="c_vendido" class="form-control" placeholder="calendários vendidos"/>
                        </div>
                        <div class="form-group">
                            <textarea name="obs" rows="2" class="form-control" placeholder="observação"></textarea>
                        </div>
                        <div class="form-group">
                            <button id="btnSalvaAddEventos" class="btn btn-success btn-block">
                                Salvar
                            </button>
                        </div>
                    </div>
            </div>
        </div>

    </div>
</div>